# Basic EDA

This Notebook is intended for me to get familiar with the data and thus will not be strongly formatted.  Mainly just looking for issues within the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
games = pd.read_csv('../Data/games.csv')
users = pd.read_csv('../Data/users.csv')
recommendations = pd.read_csv('../Data/recommendations.csv')

## Games:
----

In [3]:
games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True

In [5]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   title           50872 non-null  object
 2   date_release    50872 non-null  object
 3   win             50872 non-null  bool
 4   mac             50872 non-null  bool
 5   linux           50872 non-null  bool
 6   rating          50872 non-null  object
 7   positive_ratio  50872 non-null  int64
 8   user_reviews    50872 non-null  int64
 9   price_final     50872 non-null  float64
 10  price_original  50872 non-null  float64
 11  discount        50872 non-null  float64
 12  steam_deck      50872 non-null  bool
dtypes: bool(4), float64(3), int64(3), object(3)
memory usage: 3.7+ MB

Initial lookover of games.csv shows that app_id should be formatted as an object rather than an int as they are unique object values not numeric values.  Additionally date_release should be converted to datetime.  Rating should also potentially be converted to numeric values (depending on how many categories there are) as strings will be more difficult to read.

In [6]:
games['rating'].value_counts()

rating
Positive                   13502
Very Positive              13139
Mixed                      12157
Mostly Positive             8738
Mostly Negative             1849
Overwhelmingly Positive     1110
Negative                     303
Very Negative                 60
Overwhelmingly Negative       14
Name: count, dtype: int64

Rating has 9 unique values ranging from Overwhelmingly Negative to Overwhelmingly Positive.  Too many options for dummy variables in my opinion however, a numeric scale could potentially make it more legible.  The issue is that there are certain variables which are not clearly obvious (such as very negative vs mostly negative).  

On doing some external research I came across several explanations, the strongest of which was located on this Reddit discussion [board.](https://www.reddit.com/r/Steam/comments/ivz45n/what_does_the_steam_ratings_like_very_negative_or/) 

![alt text](steam_ratings.png "Title")

There is no direct confirmation from Steam on whether this is an accurate representation of their rating system however many self directed user studies littered throughout discussion boards seem to confirm that this is approach is more or less correct.  If time permits I will potentially confirm these findings through the data I am using.

Cleaning the ratings column may in fact be redundant due to this unique approach, I will be leaving it as is for now until such a time that I can discuss with a mentor on how to proceed.

In [13]:
games['date_release'] = pd.to_datetime(games['date_release']) # converting release date to datetime format from object format
games['app_id'] = games['app_id'].astype(str) # converting app_id to str/object format 
games

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50867,2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.00,0.00,0.0,True
50868,1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.00,0.00,0.0,True
50869,1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.00,0.00,0.0,True
50870,2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.00,0.00,0.0,True
50871,2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.00,0.00,0.0,True

In [14]:
games.info() # confirming update.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  object
 1   title           50872 non-null  object
 2   date_release    50872 non-null  datetime64[ns]
 3   win             50872 non-null  bool
 4   mac             50872 non-null  bool
 5   linux           50872 non-null  bool
 6   rating          50872 non-null  object
 7   positive_ratio  50872 non-null  int64
 8   user_reviews    50872 non-null  int64
 9   price_final     50872 non-null  float64
 10  price_original  50872 non-null  float64
 11  discount        50872 non-null  float64
 12  steam_deck      50872 non-null  bool
dtypes: bool(4), datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 3.7+ MB

In [19]:
games.isnull().sum() # Checking for null values across the games dataframe.

app_id            0
title             0
date_release      0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
steam_deck        0
dtype: int64

### Update

games.csv appears to be in a relatively clean state to begin with with no null values and minimal data type changes needed.  The ratings column is the most troubling aspect but I will tackle that later when I have a stronger understanding of what the best course of action is for it.  More cleaning work will be needed when I've connected the extracted JSON metadata to this chart but for now I'll move on to cleaning the other datasets.

## Users:
---

In [20]:
users.head()

    user_id  products  reviews
0   7360263       359        0
1  14020781       156        1
2   8762579       329        4
3   4820647       176        4
4   5167327        98        2

In [21]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14306064 entries, 0 to 14306063
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   products  int64
 2   reviews   int64
dtypes: int64(3)
memory usage: 327.4 MB

In [22]:
users.isnull().sum()

user_id     0
products    0
reviews     0
dtype: int64